{% extends "base.html" %}

<!-- {% block title %}about page{% endblock title %} -->

{% block body %}
<!-- <h1>this is about page</h1> -->
<section class="bg-black text-gray-100 h-screen lg:h-screen">
    <div class="container sm ">
        <h1 class="text-center text-6xl pt-6">about Inotes</h1>
        <p class="text-center text-lg pt-48 justify-center items-center py-6">We
            believe
            in the power of knowledge sharing and aim to create a platform where
            students and professionals can come together to learn and grow. Our
            mission is to make education accessible and affordable for everyone.
            At
            iNotes, we strive to provide a user-friendly platform where users
            can
            easily upload and download notes, connect with like-minded
            individuals,
            and build a community that fosters a love for learning. Join us on
            this
            journey towards a more knowledgeable and empowered world</p>
    </div>
</section>


{% endblock body %}
