{% extends "base.html" %}

<!-- {% block title %}about page{% endblock title %} -->

{% block body %}
<!-- <h1>this is about page</h1> -->
<section
    class="bg-black text-white h-screen flex flex-col justify-start items-center">
    <div class="container mx-auto text-center">
        <h1 class="text-5xl lg:text-6xl font-bold">About iNotes</h1>
        <p class="text-lg lg:text-xl leading-relaxed max-w-xl mt-12 mx-auto">
            We believe in the power of knowledge sharing and aim to create a
            platform where students and professionals can come together to learn
            and grow. Our mission is to make education accessible and affordable
            for everyone. At iNotes, we strive to provide a user-friendly
            platform where users can easily upload and download notes, connect
            with like-minded individuals, and build a community that fosters a
            love for learning. Join us on this journey towards a more
            knowledgeable and empowered world.
        </p>
    </div>
</section>

{% endblock body %}
