{% extends "adminnav.html" %}

{% block body %}

<div class="mx-auto w-4/5 m-4">
    <h1
        class="text-4xl sm:text-5xl font-extrabold tracking-tight text-center mb-16 text-white">
        All Accepted notes
    </h1>

    {% for i in notes %}
    <div class="flex flex-wrap gap-y-5 gap-x-5 justify-center">
        <div
            class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 p-4 bg-neutral-900">
            <h5
                class="mb-2 text-2xl font-medium leading-tight text-white dark:text-white">
                Subject : {{i.subject}}
            </h5>
            <p class="mb-4 text-base text-white dark:text-white">
                Branch : {{i.branch}}
            </p>
            <p class="mb-4 text-base text-white dark:text-white">
                Uploadby : {{i.user.username}}
            </p>
            <p class="mb-4 text-base text-white dark:text-white">
                Date : {{i.uploaddate}}
            </p>
            <p class="mb-4 text-base text-white dark:text-white">
                Desription : {{i.description}}
            </p>
            <p class="mb-4 text-base text-white dark:text-white">
                Status : {{i.status}}
            </p>

            <a
                href="{{i.notes.url}}"
                class="inline-block rounded bg-primary px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out "
                data-te-ripple-init
                data-te-ripple-color="light">
                Download
            </a>
            <a
                href="{% url 'assignstatus' i.id %}"
                class="inline-block rounded bg-primary px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out "
                data-te-ripple-init
                data-te-ripple-color="light">
                Assign
            </a>
            <a
                href="{% url 'del_all_notes' i.id %}""
                class="inline-block rounded bg-primary px-2  pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out "
                data-te-ripple-init
                data-te-ripple-color="light">
                delete
            </a>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock body %}