{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{% block title %}{% endblock title %}</title>

    </head>

    <body>
        <!-- component -->
        <nav class="bg-white shadow dark:bg-black">
            <div class="container flex items-center justify-center p-6 mx-auto
                text-gray-600 capitalize dark:text-white">
                <a href="{% url 'home' %}" class="text-gray-800
                    dark:text-gray-200 border-b-2
                    hover:border-blue-500 mx-1.5 sm:mx-6">Home</a>

                <a href="{% url 'about' %}" class="border-b-2 border-transparent
                    hover:text-gray-800 dark:hover:text-gray-200
                    hover:border-blue-500 mx-1.5 sm:mx-6">About</a>

                <a href="{% url 'contact' %}" class="border-b-2
                    border-transparent
                    hover:text-gray-800 dark:hover:text-gray-200
                    hover:border-blue-500 mx-1.5 sm:mx-6">Contact</a>

                <a href="#" class="border-b-2 border-transparent
                    hover:text-gray-800 dark:hover:text-gray-200
                    hover:border-blue-500 mx-1.5 sm:mx-6">Login/Signin</a>
            </div>
        </nav>
        {% block body %}

        {% endblock body %}

    </body>

</html>