{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{% block title %}{% endblock title %}</title>

    </head>

    <body class="bg-black">
        <!-- component -->
        <nav class="bg-black shadow text-capitalize">
            <div
                class="container flex items-center justify-center p-6 mx-auto text-white capitalize dark:text-white">
                <a href="{% url 'home' %}"
                    class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6 capitalize">Home</a>

                <a href="{% url 'about' %}"
                    class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6 capitalize">About</a>

                <a href="{% url 'contact' %}"
                    class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6 capitalize">Contact</a>

                <a href="{% url 'userlogin' %}"
                    class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6 capitalize">Login</a>

                <a href="{% url 'signin' %}"
                    class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6 capitalize">Signin</a>

                <a href="{% url 'login_admin' %}"
                    class="border-b-2 border-transparent hover:text-gray-800 dark:hover:text-gray-200 hover:border-blue-500 mx-1.5 sm:mx-6 capitalize">Admin
                    Login</a>
            </div>
        </nav>

        {% block body %}

        {% endblock body %}

    </body>

</html>