{% extends "base.html" %}
{% block title %} home page {% endblock title %}

{% block body %}
{% load static %}
<section class="bg-black text-gray-100 min-h-screen lg:h-screen ">
    <div class="container min-h-screen flex flex-col justify-center p-6 mx-auto
        sm:py-12
        lg:py-24 lg:flex-row lg:justify-between h-full">
        <div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72
            sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
            <img src="{% static 'images/logo.png' %}" alt=""
                class="object-contain
                h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
        </div>
        <div class="flex flex-col justify-center p-2 text-center rounded-sm
            lg:max-w-md xl:max-w-lg lg:text-left">
            <h1 class="text-5xl font-bold leading-none sm:text-6xl">Share your
                knowledge and discover more with iNotes </h1>
            <p class="mt-6 mb-8 text-lg sm:mb-12">Say goodbye to the struggle of
                finding notes. Join iNotes.</p>
            <div class="flex flex-col space-y-4 sm:items-center
                sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4
                lg:justify-start">
                <a href="/" class="px-8 py-3 text-lg
                    font-semibold rounded bg-violet-400 text-gray-900">See Notes</a>
                <a href="/" class="px-8 py-3 text-lg
                    font-semibold border rounded border-gray-100">upload notes</a>
            </div>
        </div>
    </div>
</section>


{% endblock body %}
