{% extends "adminnav.html" %}

{% block body %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">

        <div class="flex flex-wrap m-4 text-center justify-center gap-x-4 mt-16">
            <a href="{% url 'pendingnotes' %}"
                class="mb-2 flex rounded bg-primary px-6 pb-2 pt-2.5 text-l font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-primary-600">
                Pending Notes
                <span
                    class="ml-2 mt-1 inline-block whitespace-nowrap rounded-[0.27rem] bg-danger-100 px-[0.65em] text-center align-baseline text-lg font-bold leading-none text-danger-700">{{pn}}</span>
            </a>

            <a href="{% url 'acceptednotes' %}"
                class="mb-2 flex rounded bg-primary px-6 pb-2 pt-2.5 text-l font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out hover:bg-primary-600 ">
                Acepted Notes
                <span
                    class="ml-2 mt-1 inline-block whitespace-nowrap rounded-[0.27rem] bg-danger-100 px-[0.65em]   text-center align-baseline text-lg font-bold leading-none text-danger-700">{{ac}}</span>
            </a>
            <a href="{% url 'rejectednotes' %}"
                class="mb-2 flex rounded bg-primary px-6 pb-2 pt-2.5 text-l font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out hover:bg-primary-600  focus:bg-primary-600 ">
                Rejected Notes
                <span
                    class="ml-2 mt-1 inline-block whitespace-nowrap rounded-[0.27rem] bg-danger-100 px-[0.65em]   text-center align-baseline text-lg font-bold leading-none text-danger-700">{{rj}}</span>
            </a>
            <a href="{% url 'allnotes' %}"
                class="mb-2 flex rounded bg-primary px-6 pb-2 pt-2.5 text-l font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out hover:bg-primary-600 ">
                All Notes
                <span
                    class="ml-2 mt-1 inline-block whitespace-nowrap rounded-[0.27rem] bg-danger-100 px-[0.65em]   text-center align-baseline text-lg font-bold leading-none text-danger-700">{{al}}</span>
            </a>

        </div>
    </div>
</section>
{% endblock body %}
