{% extends "adminnav.html" %}

{% block body %}
<!-- 
<div class="flex flex-col max-h-full">
    <div class="mx-auto w-4/5 m-4 mt-52 flex justify-center">

        <a href="{% url 'pendingnotes' %}"
            class="relative inline-flex items-center px-5 py-2.5
    text-sm font-medium text-center text-white bg-blue-700 rounded-lg
    hover:bg-black focus:ring-4 focus:outline-none focus:ring-black
    dark:bg-black ml-4 mb-4">
            <svg class="w-5 h-5 mr-1" aria-hidden="true" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
            <span class="sr-only">Notifications</span>
            Pending notes
            <div
                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">{{pn}}</div>
        </a>

        <a href="{% url 'acceptednotes' %}"
            class="relative inline-flex items-center px-5 py-2.5
    text-sm font-medium text-center text-white bg-blue-700 rounded-lg
    hover:bg-black focus:ring-4 focus:outline-none focus:ring-black
    dark:bg-black ml-4 mb-4">
            <svg class="w-5 h-5 mr-1" aria-hidden="true" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
            <span class="sr-only">Notifications</span>
            Accepted notes
            <div
                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">{{ac}}</div>
        </a>
        <a href="{% url 'rejectednotes' %}"
            class="relative inline-flex items-center px-5 py-2.5
    text-sm font-medium text-center text-white bg-blue-700 rounded-lg
    hover:bg-black focus:ring-4 focus:outline-none focus:ring-black
    dark:bg-black ml-4 mb-4">
            <svg class="w-5 h-5 mr-1" aria-hidden="true" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
            <span class="sr-only">Notifications</span>
            Rejected notes
            <div
                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">{{rj}}</div>
        </a>
        <a href="{% url 'allnotes' %}"
            class="relative inline-flex items-center px-5 py-2.5
    text-sm font-medium text-center text-white bg-blue-700 rounded-lg
    hover:bg-black focus:ring-4 focus:outline-none focus:ring-black
    dark:bg-black ml-4 mb-4">
            <svg class="w-5 h-5 mr-1" aria-hidden="true" fill="currentColor"
                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                <path
                    d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
            <span class="sr-only">Notifications</span>
            ALl notes
            <div
                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-white bg-red-500 border-2 border-white rounded-full -top-2 -right-2 dark:border-gray-900">{{al}}</div>
        </a>
    </div>

</div> -->
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">

        <div class="flex flex-wrap -m-4 text-center">
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <a href="{% url 'pendingnotes' %}"
                    class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="px-4 py-6 rounded-lg">
                        <svg fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"
                            class="text-indigo-500 w-12 h-12 mb-3 inline-block"
                            viewBox="0 0 24 24">
                            <path d="M8 17l4 4 4-4m-4-5v9"></path>
                            <path
                                d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
                        </svg>
                        <h2 class="title-font font-medium text-3xl text-white">{{pn}}</h2>
                        <p class="leading-relaxed text-white text-lg">Pending
                            notes</p>
                    </div>
                </a>

            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <a href="{% url 'pendingnotes' %}"
                    class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="px-4 py-6 rounded-lg">
                        <svg fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"
                            class="text-indigo-500 w-12 h-12 mb-3 inline-block"
                            viewBox="0 0 24 24">
                            <path d="M8 17l4 4 4-4m-4-5v9"></path>
                            <path
                                d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
                        </svg>
                        <h2 class="title-font font-medium text-3xl text-white">{{ac}}</h2>
                        <p class="leading-relaxed text-white text-lg">Accepted
                            notes</p>
                    </div>
                </a>

            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <a href="{% url 'pendingnotes' %}"
                    class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="px-4 py-6 rounded-lg">
                        <svg fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"
                            class="text-indigo-500 w-12 h-12 mb-3 inline-block"
                            viewBox="0 0 24 24">
                            <path d="M8 17l4 4 4-4m-4-5v9"></path>
                            <path
                                d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
                        </svg>
                        <h2 class="title-font font-medium text-3xl text-white">{{rj}}</h2>
                        <p class="leading-relaxed text-white text-lg">Rejected
                            notes</p>
                    </div>
                </a>

            </div>
            <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
                <a href="{% url 'pendingnotes' %}"
                    class="p-4 md:w-1/4 sm:w-1/2 w-full">
                    <div class="px-4 py-6 rounded-lg">
                        <svg fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2"
                            class="text-indigo-500 w-12 h-12 mb-3 inline-block"
                            viewBox="0 0 24 24">
                            <path d="M8 17l4 4 4-4m-4-5v9"></path>
                            <path
                                d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
                        </svg>
                        <h2 class="title-font font-medium text-3xl text-white">{{al}}</h2>
                        <p class="leading-relaxed text-white text-lg">All
                            notes</p>
                    </div>
                </a>

            </div>
        </div>
    </div>
</section>
{% endblock body %}
