{% extends "base.html" %}
{% load static %}
{% block body %}
{% if error == "no" %}

<script>
    alert("loged in");
    window.location.href = "{% url 'userprofile' %}";
  </script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("invalid user h bhai tu");
  </script>
{% endif %}

<div class="container lg ">

    <body class="bg-black">
        <div class="container mx-auto py-8">
            <h1 class="text-2xl font-bold mb-6 text-center text-white">Login</h1>
            <form method="post" class="w-full max-w-sm mx-auto bg-black p-8
                rounded-md
                shadow-md">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2"
                        for="name">Username</label>
                    <input class="w-full px-3 py-2 border border-gray-300
                        rounded-md
                        focus:outline-none focus:border-indigo-500"
                        type="text" id="name" name="uname"
                        placeholder="yourname">
                </div>

                <div class="mb-4">
                    <label class="block text-white text-sm font-bold mb-2"
                        for="password">Password</label>
                    <input class="w-full px-3 py-2 border border-gray-300
                        rounded-md
                        focus:outline-none focus:border-indigo-500"
                        type="password" id="password" name="upassword"
                        placeholder="********">
                </div>

                <button
                    class="w-full bg-indigo-500 text-white text-sm font-bold
                    py-2
                    px-4 rounded-md hover:bg-indigo-600 transition duration-300"
                    type="submit">Register</button>
            </form>
        </div>

    </body>

</div>






{% endblock body %}