{% extends "cmnnav.html" %}

{% block body %}

<div class="mx-auto w-4/5 m-4">
    <h1
        class="text-4xl sm:text-5xl font-extrabold tracking-tight text-center mb-16 text-white">
        Your uploaded notes
    </h1>

    <!-- <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                    <thead
                        class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th scope="col" class="px-6 py-4 text-white">Sno.</th>
                            <th scope="col" class="px-6 py-4 text-white"">Uploaded
                                on</th>
                            <th scope="col" class="px-6 py-4 text-white"">Branch</th>
                            <th scope="col" class="px-6 py-4 text-white"">Subject</th>
                            <th scope="col" class="px-6 py-4 text-white"">description</th>
                            <th scope="col" class="px-6 py-4 text-white"">Status</th>
                            <th scope="col" class="px-6 py-4 text-white"">Action</th>
                            <th scope="col" class="px-6 py-4 text-white"">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in notes %}

                        <tr class="border-b dark:border-neutral-500">
                            <td
                                class="whitespace-nowrap px-6 py-4 font-medium text-white">{{forloop.counter}}</td>
                            <td
                                class="whitespace-nowrap px-6 py-4 text-white">{{i.uploaddate}}</td>
                            <td
                                class="whitespace-nowrap px-6 py-4 text-white">{{i.branch}}</td>
                            <td
                                class="whitespace-nowrap px-6 py-4 text-white">{{i.subject}}</td>
                            <td
                                class="whitespace-nowrap px-6 py-4 text-white">{{i.description}}</td>
                            <td
                                class="whitespace-nowrap px-6 py-4 text-white">{{i.status}}</td>
                            <td
                                class="whitespace-nowrap px-6 py-4 text-white"><a
                                    href="{% url 'del_notes' i.id %}"
                                    class="hover:text-blue-500">Delete</a></td>
                            <td
                                class="inline-block rounded bg-neutral-50 mt-2 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#cbcbcb] transition duration-150 ease-in-out hover:bg-neutral-100 hover:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(203,203,203,0.3),0_4px_18px_0_rgba(203,203,203,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(251,251,251,0.3)] dark:hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)] dark:active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.1),0_4px_18px_0_rgba(251,251,251,0.05)]"><a
                                    href="{{i.notes.url}}">Download</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div> -->

    {% for i in notes %}
    <div class="flex flex-wrap gap-y-5 gap-x-5 justify-center">
        <div
            class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 p-4 bg-neutral-900">
            <h5
                class="mb-2 text-2xl font-medium leading-tight text-white dark:text-white">
                Subject : {{i.subject}}
            </h5>
            <p class="mb-4 text-base text-white dark:text-white">
                Branch : {{i.branch}}
            </p>

            <p class="mb-4 text-base text-white dark:text-white">
                Date : {{i.uploaddate}}
            </p>
            <p class="mb-4 text-base text-white dark:text-white">
                Desription : {{i.description}}
            </p>
            <p class="mb-4 text-base text-white dark:text-white">
                Status : {{i.status}}
            </p>

            <a
                href="{{i.notes.url}}"
                class="inline-block rounded bg-primary px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out "
                data-te-ripple-init
                data-te-ripple-color="light">
                Download
            </a>
            <a
                href="{% url 'del_notes' i.id %}"
                class="inline-block rounded bg-primary px-2 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white  transition duration-150 ease-in-out "
                data-te-ripple-init
                data-te-ripple-color="light">
                Delete Notes
            </a>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock body %}