{% extends "cmnnav.html" %}

<!-- {% block title %}about page{% endblock title %} -->

{% block body %}
<!-- <h1>this is about page</h1> -->
<!-- component -->
{% if error == "no" %}
<script>
alert("uploaded successfully");
window.location.href = "{% url 'mynotes' %}";
</script>
{% endif %}

{% if error == "yes" %}
<script>
alert("something went wrong...");
</script>
{% endif %}

<form class="w-full" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mx-auto w-4/5 m-4">
        <h1
            class="text-4xl sm:text-5xl font-extrabold tracking-tight text-center mb-16 text-white">
            Upload notes
        </h1>
        <div class="flex flex-col mt-0">
            <label for="branch" class="hidden">Branch</label>
            <select name="branch" id="branch"
                class="w-full mt-2 py-3 px-3 rounded-lg bg-black dark:bg-black
                border border-gray-400 dark:border-gray-700 text-white
                font-semibold">
                <option value selected>Select
                    branch</option>
                <option value="CS">CS</option>
                <option value="Btech">Btech </option>
                <option value="Mtech">Mtech </option>
                <option value="civil">civil </option>
                <option value="Electrical">Electrical</option>
                <option value="MSc(cs)">MSc(cs)</option>

            </select>
        </div>

        <div class="flex flex-col mt-0">
            <label for="sub" class="hidden">Subject</label>
            <input type="text" name="subject" id="sub"
                placeholder="Subject" class="w-full mt-2 py-3 px-3
                rounded-lg bg-black dark:bg-black
                border border-gray-400 dark:border-gray-700 text-white
                font-semibold focus:outline-none">
        </div>

        <div class="flex flex-col mt-0">
            <label for="n" class="hidden">Select notes</label>
            <input type="file" name="notes" id="n"
                placeholder="Select notes files" class="w-full mt-2 py-3 px-3
                rounded-lg bg-black dark:bg-black
                border border-gray-400 dark:border-gray-700 text-white
                font-semibold focus:border-indigo-500 focus:outline-none">
        </div>
        <div class="flex flex-col mt-0">
            <label for="filetype" class="hidden">Filetype</label>
            <select name="filetype" id="filetype"
                class="w-full mt-2 py-3 px-3 rounded-lg bg-black dark:bg-black
                border border-gray-400 dark:border-gray-700 text-white
                font-semibold">
                <option value selected>Filetype</option>
                <option value="PDF">PDF</option>
                <option value="DOC">DOC </option>
                <option value="WORD">WORD </option>
                <option value="EXCEL">EXCEL </option>
                <option value="PPT">PPT</option>
                <option value="TXT">TXT</option>
                <option value="ZIP">ZIP</option>
                <option value="IMAGE">IMAGE</option>
            </select>
        </div>

        <div class="flex flex-col mt-0">
            <label for="desc" class="hidden">Description</label>
            <input type="text" name="description" id="desc"
                placeholder="Description" class="w-full mt-2 py-3 px-3
                rounded-lg bg-black dark:bg-black
                border border-gray-400 dark:border-gray-700 text-white
                font-semibold focus:border-indigo-500 focus:outline-none">
        </div>
        <button type="submit" class="md:w-32
            bg-indigo-600 hover:bg-blue-dark
            text-white font-bold py-3 px-6
            rounded-lg mt-3 hover:bg-indigo-500
            transition ease-in-out duration-300">
            Submit
        </button>
    </div>

</form>

{% endblock body %}
