{% extends "cmnnav.html" %}
{% block body %}

<div class="flex justify-center mt-36 align-center">

    <div class="relative overflow-x-auto bg-black">
        <h1
            class="text-4xl sm:text-5xl font-extrabold tracking-tight text-center mb-16 text-white">
            Your details
        </h1>
        <table
            class="w-full text-sm text-left text-white dark:text-gray-400 w-full">
            <thead
                class="text-xs text-white uppercase bg-black dark:bg-black dark:text-white">

            </thead>
            <tbody>
                <tr class="bg-black text-white">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                        Your email
                    </th>
                    <td class="px-6 py-4 text-white">
                        {{data.user.username}}
                    </td>
                </tr>
                <tr class="bg-black dark:bg-black">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                        Your contact
                    </th>
                    <td class="px-6 py-4 text-white">
                        {{data.contact}}
                    </td>
                </tr>
                <tr class="bg-black dark:bg-black">
                    <th scope="row"
                        class="px-6 py-4 font-medium text-white whitespace-nowrap dark:text-white">
                        Your branch
                    </th>
                    <td class="px-6 py-4 text-white">
                        {{data.branch}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

{% endblock body %}